# # app/views/layouts/application.html.erb
# <!DOCTYPE html>
# <html>
#   <head>
#     <title>AeroScore - Airline Reviews</title>
#     <meta name="viewport" content="width=device-width,initial-scale=1">
#     <%= csrf_meta_tags %>
#     <%= csp_meta_tag %>
    
#     # <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
#     <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
#     # <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>

#   </head>

#   <body>
#     # <div id="root"></div>
#     <%= yield %>
#   </body>
# </html>

# <!DOCTYPE html>
# <html>
#   <head>
#     <title>Aeroscore</title>
#     <meta name="viewport" content="width=device-width,initial-scale=1">
#     <%= csrf_meta_tags %>
#     <%= csp_meta_tag %>

#     <!-- Use Webpacker for assets -->
#     <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
#     <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
#   </head>

#   <body>
#     <%= yield %>
#   </body>
# </html>

<!DOCTYPE html>
<html>
  <head>
    <title>Aeroscore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Use Rails asset pipeline for CSS -->
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <!-- Keep Webpacker for JavaScript -->
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>